* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
}

.header-container {
  display: flex;
  color: #fafafa;
  width: 1024px;
  margin: 0 auto;
}

.header-logo {
  height: 70px;
}

.header-menus {
  margin-left: auto;
}

.header-menu {
  color: #fafafa;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 30px 0 30px;
  line-height: 70px;
}

main {
  width: 100%;
}

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  background-size: cover;
  background-position: bottom;
}

.main-visual-container {
  height: 650px;
  padding-top: 200px;
}

.main-title {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.portfolio {
  background-color: #eceff1;
  display: flex;
  justify-content: center;
}

.portfolio-container {
  width: 920px;
  padding: 90px 0 80px 0;
}

.texts {
  margin-bottom: 30px;
}

.title {
  font-size: 32px;
  color: #000000;
  text-align: center;
}

.title-border {
  border: 3px solid #ec715f;
  width: 70px;
  margin: 0 auto;
}

.explanation {
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  text-align: center;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
}

.pf-picture {
  height: 250px;
  width: 300px;
  margin: 0 10px 10px 0;
}

.pf-picture:nth-of-type(3n) {
  margin: 0 0 10px 0;
}

.feature {
  display: flex;
  justify-content: center;
}

.feature-container {
  width: 980px;
  padding: 90px 0 90px 0;
}

.feature-contents {
  display: flex;
  flex-wrap: wrap;
}

.feature-content {
  width: 320px;
  margin-right: 10px;
  text-align: center;
}

.feature i {
  font-size: 60px;
}

.feature-content-title {
  font-size: 20px;
  text-align: center;
  margin: 10px 0 10px 0;
}

.feature-content:nth-of-type(3n) {
  margin-right: 0;
}

.feature-content-sentence {
  text-align: left;
}

.profile {
  background-color: #eceff1;
  display: flex;
  justify-content: center;
}

.profile-container {
  width: 1024px;
  padding: 90px 0 90px 0;
}

.profile-contents {
  display: flex;
}

.profile-picture {
  width: 512px;
  display: flex;
  justify-content: center;
}

.profile-image {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

.profile-texts {
  width: 512px;
}

.texts-container {
  margin-bottom: 20px;
}

.texts-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.texts-text {
  font-size: 16px;
  color: #000000;
}

.contact {
  display: flex;
  justify-content: center;
}

.contact-container {
  width: 800px;
  padding: 90px 0 90px 0;
}

.contact-contents {
  display: flex;
}

.contact-information {
  width: 50%;
  display: flex;
  justify-content: center;
}

.icons {
  display: flex;
}

.contact i {
  font-size: 50px;
  margin-right: 20px;
}

.contact i:last-child {
  margin-right: 0;
}

footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
}

.footer-container {
  text-align: center;
  line-height: 60px;
}

.footer-container p {
  color: #fafafa;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
  }
  .header-container {
    height: 50px;
    width: 90%;
  }

  .header-logo {
    height: 50px;
  }

  .header-menus {
    display: none;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    z-index: 10;
    margin-left: auto;
    margin-top: 5px;
    position: relative;
    border: 2px solid white;
  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 70%;
    border-bottom: solid 4px white;
    transition: 0.2s;
    left: 6px;
  }

  .hamburger span:nth-child(1) {
    top: 6px;
  }

  .hamburger span:nth-child(2) {
    top: 16px;
  }

  .hamburger span:nth-child(3) {
    top: 26px;
  }

  .main-visual {
    background-image: url(img/code.png);
  }

  .main-visual-container,
  .portfolio-container,
  .feature-container,
  .profile-container,
  .contact-container,
  .profile-container,
  .profile-picture,
  .profile-texts {
    width: 90%;
    margin: 0 auto;
  }

  .profile-container {
    padding-bottom: 70px;
  }

  .pictures {
    display: block;
  }

  .pf-picture {
    display: block;
    margin: 0 auto 10px auto;
  }

  .pf-picture:nth-child(odd) {
    display: none;
  }

  .pf-picture:last-child,
  .feature-content:last-child,
  .profile-texts,
  .contact-information {
    margin: 0 auto;
  }

  .feature-contents,
  .profile-contents,
  .contact-contents {
    display: block;
  }

  .feature-content {
    margin: 0 auto 10px auto;
  }

  .profile-picture {
    margin: 0 auto 20px auto;
  }

  .texts-title,
  .texts-text,
  .texts-container {
    text-align: center;
  }

  .contact i {
    margin-right: 8px;
  }

  .texts-text,
  .feature-content-sentence {
    word-wrap: break-word;
  }

  .feature-content {
    width: 90%;
  }
}

@media screen and (max-width: 334px) {
  .pf-picture {
    width: 90%;
    height: 90%;
  }
}
