* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #ec715f;
  height: 70px;
  width: 100%;
}

.header-container {
  display: flex;
  color: #fafafa;
  width: 1024px;
  margin: 0 auto;
}

.header-logo {
  height: 70px;
}

.header-menus {
  margin-left: auto;
}

.header-menu {
  color: #fafafa;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 30px 0 30px;
  line-height: 70px;
}

main {
  width: 100%;
}

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.main-visual-container {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 64px;
  color: #fafafa;
  text-align: center;
  margin-bottom: 10px;
}

.sub-title {
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

.portfolio {
  background-color: #eceff1;
}

.portfolio-container {
  width: 920px;
}

.portfolio-title {
  font-size: 32px;
  color: #000000;
  margin-top: 90px;
  margin-bottom: 8px;
  text-align: center;
}

.portfolio-explanation {
  font-size: 16px;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
}

.footer-container {
  text-align: center;
  line-height: 60px;
}

.footer-container p {
  color: #fafafa;
  font-size: 16px;
}
